body{
 margin: 0;background-color: #fff1cf;
 text-align: center;

}

#mainimage{
  border-radius: 60px;
  margin: 0 auto 0 auto;
  margin-top: 200px;
  width: 500px;
  resize: both;
}

#animation{
  border-radius: 100px;
  width: 100px;
  margin: 0 auto 0 auto;
  resize: both;
}


#animation1{
  border-radius: 100px;



  display: inline;

  height: 100px;


}

#span1{
  margin: 0 auto 0 auto;
  margin-bottom: 1000px;

}


#h31{
  margin: 0 auto 0 auto;
  width: 300px;
  display: inline;
  position: absolute;
  margin-left: 150px;

}

#h32{
  margin: 0 auto 0 auto;
  width: 300px;
  display: inline;
  position: absolute;
  margin-left: 300px;

}



#p1{
  margin: 0 auto 0 auto;
  width: 600px;
  display: inline-block;
  margin-right:  100px;
}

#p2{
  margin: 0 auto 0 auto;
  width: 600px;
  display: inline-block;
  margin-left:  150px;
}

.div1{
  margin: 0 auto 0 auto;
  resize: both;
  width: 700px;

}

.div2{
  margin: 0 auto 0 auto;
  resize: both;
  width: 1400px;
  margin-top: 100px;


}

.div3{

  margin: 0 auto 0 auto;
  resize: both;
  width: 1400px;
  margin-top: 100px;
}

.heading{
  margin: 0 auto 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  color:  #015668;
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
  resize: both;
}

.role{
  margin: 0 auto 0 auto;
  margin-bottom: 100px;
  color: #015668;
  font-size: 20px;
  font-family: 'Lobster', cursive;
  width: 600px;
  margin-bottom: 200px;
  resize: both;
}
