body{
 margin: 0;background-color: #fff1cf;
 text-align: center;

}

#mainimage{
  border-radius: 60px;
  margin: 500px auto 0 auto;
  width: 500px;
  resize: both;
}

#animation{
  border-radius: 100px;
  width: 100px;
  margin: 10px auto 0 auto;
  resize: both;
}

.div1{
  margin: 0 auto 0 auto;
  resize: both;

}

.heading{
  margin: 20 auto 0 auto;
  color:  #015668;
  font-size: 60px;
  resize: both;
}

.role{
  margin: 0 auto 10px auto;
  color: #015668;
  font-size: 20px;
  width: 600px;
  resize: both;
}
